apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: volumes-web-app-volumes-web-app
  namespace: kubeflow
spec:
  hosts:
    - {{< .Values.deploykf_core.deploykf_istio_gateway.gateway.hostname | quote >}}
  gateways:
    - {{< .Values.deploykf_core.deploykf_istio_gateway.namespace >}}/{{< .Values.deploykf_core.deploykf_istio_gateway.gateway.name >}}
